RewriteEngine On

# WebStart Updates - Amazon S3
RewriteRule ^(downloads/updates/webstart.*.pkg)$ /s3.php?download=$1 [R,L]

# Updates
RewriteRule ^downloads/updates - [L]

# Downloads
RewriteRule ^downloads/(software/.*)$ /en/download/?download=$1 [R,L]
RewriteRule ^downloads/(opensource/.*)$ /en/download/?download=$1 [R,L]

# Hosts
RewriteCond %{HTTP_HOST} ^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+
RewriteRule (.*) http://eosgarden.com/$1 [R=301,L]

# Main
RewriteRule ^doxygen/.*$ - [L]
RewriteRule ^fever/.*$ - [L]
RewriteRule ^stats/.*$ - [L]
RewriteRule .*/index.php /index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule .* /index.php
