<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>eaccelerator_php52</key>
    <dict>
        <key>version</key>
        <string>5.2.17</string>
        <key>os</key>
        <integer>0x1070</integer>
    </dict>
    <key>eaccelerator_php53</key>
    <dict>
        <key>version</key>
        <string>5.3.8</string>
        <key>os</key>
        <integer>0x1070</integer>
    </dict>
    <key>memcache_php52</key>
    <dict>
        <key>version</key>
        <string>5.2.17</string>
        <key>os</key>
        <integer>0x1070</integer>
    </dict>
    <key>memcache_php53</key>
    <dict>
        <key>version</key>
        <string>5.3.6</string>
        <key>os</key>
        <integer>0x1070</integer>
    </dict>
    <key>nginx</key>
    <dict>
        <key>version</key>
        <string>1.1.12</string>
        <key>os</key>
        <integer>0x1070</integer>
    </dict>
    <key>nodejs</key>
    <dict>
        <key>version</key>
        <string>0.6.6</string>
        <key>os</key>
        <integer>0x1070</integer>
    </dict>
    <key>php_53</key>
    <dict>
        <key>version</key>
        <string>5.3.8</string>
        <key>os</key>
        <integer>0x1070</integer>
    </dict>
    <key>php_54</key>
    <dict>
        <key>version</key>
        <string>5.4.0</string>
        <key>os</key>
        <integer>0x1070</integer>
    </dict>
    <key>phpmyadmin</key>
    <dict>
        <key>version</key>
        <string>3.4.9</string>
        <key>os</key>
        <integer>0x1070</integer>
    </dict>
    <key>postgresql</key>
    <dict>
        <key>version</key>
        <string>9.0.3</string>
        <key>os</key>
        <integer>0x1070</integer>
    </dict>
    <key>webstart</key>
    <dict>
        <key>version</key>
        <string>1.4.0</string>
        <key>os</key>
        <integer>0x1080</integer>
    </dict>
    <key>webstart_cli</key>
    <dict>
        <key>version</key>
        <string>1.0.0</string>
        <key>os</key>
        <integer>0x1070</integer>
    </dict>
</dict>
</plist>
